__pycache__
.idea
.DS_Store
*.egg-info
build
.venv
.vscode
env
env_*
.env
*.toc
*.seg
*.pickle
MAIN_WRITELOCK

venv/
__pycache__/
*.pyc
*.pyo

/wsdm25-confluence/data/db
/wsdm25-confluence/.benchmarks
/wsdm25-confluence/.pytest_cache
/wsdm25-confluence/indexdir
/wsdm25-confluence/out